@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body{
    font-family: 'Inter', sans-serif;
    font-kerning: normal;
    font-weight: 200;
    background-color: #fff;
    color:#222;
    font-size: 20px;
    line-height: 1.2;
    padding:0;
    text-align: left;

}

@media (min-width: 800px){


  }



p{
  margin:0;
      font-kerning: normal;
}

a{
  color: #222;
  text-decoration: none;
}

h1{
  font-weight: 200;
  margin:0;
  font-size:20px;
      font-kerning: normal;
}

h2{
  font-weight: 200;
  margin:0;
  font-size: 20px;
      font-kerning: normal;
}


.grid {
  background: none;
  max-width: 100%;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 400px;
  background: none;
  border: 0px solid hsla(0, 0%, 0%, 0.5);
}

.grid-item:hover {
  background:none;
  cursor: pointer;
}

.grid-item--width2 { width: 200px; }
.grid-item--height2 { }

.grid-item--large {
  width: 800px;
  background: none;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

