@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body{
    font-family: 'Inter', sans-serif;
    font-kerning: normal;
    font-weight: 200;
    background-color: #fff;
    color:#222;
    font-size:20px;

}


@media (min-width: 830px){


.carousel-cell {
  width: 800px !important;
}

.carousel-cell img{
  margin-bottom: 15px;
}


p{
  margin-left:0px;
  margin-right:0px;
  padding-bottom:15px;
      max-width: 800px;
margin:auto !important;
}

.flickity-page-dots {
    max-width: 800px !important;
margin:auto!important;
 
}

.flickity-page-dots .dot {
    margin-left: 0px !important;
    margin-right: 15px !important;
}


.flickity-button svg{
  background: transparent;
}

.flickity-button {
  background: transparent;
  color: #222;
    font-size:20px;
  font-weight: 200;
  z-index: 10000
  display: block;
 
}

.flickity-button:hover {
    background: transparent;
    cursor: pointer;
}

button.flickity-button.flickity-prev-next-button.next::after {
    content: '';
}


button.flickity-button.flickity-prev-next-button.previous::after {
    content: '';
}

.flickity-prev-next-button {
    top: 48%;
    width: 44px;
    height: 44px; 
    border-radius: 50%;
    transform: translateY(-50%);
    margin-top: -7px;
}



  }



p{
  margin-left:15px;
  margin-right:15px;
  margin-top:0px;
      font-kerning: normal;
}

a{
  color: #222;
}

h1{
  font-weight: 200;
  margin:0;
  font-size:20px;
      font-kerning: normal;
}

h2{
  font-weight: 200;
  margin:0;
  font-size: 20px;
      font-kerning: normal;
}

.blink_me {
  animation: blinker 2s linear infinite;
  display: inline;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.header {
max-width: 800px;
margin:auto;
text-align: left;
padding-top:15px;
padding-left:15px;
padding-right: 15px;
margin-bottom: 60px;

}

.header h2{
text-align: left;
padding-top:25px;

}

.header h1{
position:fixed;
z-index:1000;

}

.header p {
margin-top:20px;

}


.header a {
text-decoration: none;

}

.header a:hover {
color: #999;

}



.carousel-cell {
  width: 100%;
  margin-right: 15px;
}


.carousel-cell img{
  width: 100%;

}


.flickity-button svg{
  display:none;
}

.flickity-button {
  display: none;
 
}

.flickity-page-dots {
      counter-reset: a;
    text-align: left;
    bottom: 0px;
    margin-top: 15px;
    position: relative;
    display: block;
 
}

.flickity-page-dots .dot::after {
  content: counter(a);
  counter-increment: a;
  margin-top: 4px;
  display: block;
}

.flickity-page-dots .dot {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 0px;
    background: none;
    border-radius: none;
    opacity: .25;
    cursor: pointer;

    border: 1px solid #222;
    text-align: center;
}





.footer{
margin: 0 auto;
max-width: 600px;
text-align: left;
}

.footer p{
margin-bottom:20px;
}






