@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html {
scroll-behavior: smooth;
-webkit-overflow-scrolling: touch
}

body{
    font-family: 'Inter', sans-serif;
    font-kerning: normal;
    font-weight: 200;
    background-color: #000;
    color:#999;
    font-size:20px;
    font-feature-settings: "dlig" 0, "numr" 0, "dnom" 0, "tnum" 0, "case" 0, "zero" 0, "frac" 0, "sups" 0, "subs" 0, "cpsp" 0, "salt", "ss01" 0, "ss02" 0, "ss03" 0, "cv01" 0, "cv02" 0, "cv03" 0, "cv04" 0, "cv05" 0, "cv06" 0, "cv07" 0, "cv08" 0, "cv09" 0, "cv10" 0, "cv11" 0, "calt", "liga", "kern";
line-height: 1.2;
text-align: center;
overflow:auto;
}


@media (min-width: 730px){



.carousel-cell {
  width: 700px!important;
  counter-increment: gallery-cell;
  
}
.carousel-cell p{

  max-width: 100%!important;
}




.carousel-cell img{

  margin-left: 0px;
}





p{
  margin-left:0px!important;
  margin-right:0px!important;
      max-width: 700px;

}



.flickity-page-dots {
    max-width: 700px !important;
    margin-left: auto;
    margin-right:auto;

 
}

.flickity-page-dots .dot {


}


.flickity-button svg{
  background: transparent;
}

.flickity-button {
  background: transparent;
  color: #999;
    font-size:20px;
  font-weight: 200;
  z-index: 10000;
  display: block!important;
 
}

.flickity-button:hover {
    background: transparent;
    cursor: pointer;
}

button.flickity-button.flickity-prev-next-button.next::after {
    content: '';
}


button.flickity-button.flickity-prev-next-button.previous::after {
    content: '';
}

.flickity-prev-next-button {
    top: 48%;
    width: 44px;
    height: 44px; 
    border-radius: 50%;
    transform: translateY(-50%);
    margin-top: -7px;
}



  }



p{
  margin-left:15px;
  margin-right:15px;
  margin-top:0px;
      font-kerning: normal;
}

a{
  color: #999;
  text-decoration: none;
}

.header a:active{
  color: #fff;
  text-decoration: none;
  text-align:center;
}

h1{
  font-weight: 200;
  margin:0;
  font-size:20px;
      font-kerning: normal;
}

h2{
  font-weight: 200;
  margin:0;
  font-size: 20px;
      font-kerning: normal;
}

.blink_me {
  animation: blinker 2s linear infinite;
  display: inline;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.container{
padding-bottom:50px;

}


.header {
max-width: 700px;
position:fixed;
z-index: 1000;
text-align: center;
padding-top:15px;
padding-left:15px;
left:0;
right:0;
top:0;
    margin-left: auto;
    margin-right: auto;
padding-right: 15px;

}

.header h2{
text-align: center;
padding-top:25px;
position:fixed;
z-index:800;

}





.header p {
margin-top:20px;
background-color:white;

}


.header a {
text-decoration: none;

}

.header a:hover {
color: #444;

}


.info {
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}


.sub {
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
color: #444;
}




.carousel{
  
    border-bottom: 1px solid #222;
}


.carousel-cell {
  width: 100%;
   margin-right: 15px;
}


.carousel-cell img{
  width: 100%;

}

.carousel-cell video{
  width: 100%;

}


.flickity-button svg{
  display:none;
}

.flickity-button {
  display: none;
 
}

.flickity-page-dots {
      counter-reset: a;
    text-align: center;
    bottom: 0px;
    margin-top: 15px;
    position: relative;
    display: block;
 padding-bottom:15px;
 color:#999;


}

.flickity-page-dots .dot::after {
  content: counter(a);
  counter-increment: a;
  margin-top: 4px;
  display: block;
}

.flickity-page-dots .dot {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-top: 0px;
    margin-bottom: 15px;
    background: none;
    border-radius: none;
    opacity: 100;
    cursor: pointer;
    border: 1px solid #000;

color:#999;
    text-align: center;
}

.flickity-page-dots .dot.is-selected {
      border: 1px solid #999;
}

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

.plus {
    text-align: right;
}


.footer{
margin: 0 auto;
max-width: 600px;
text-align: center;
}

.footer p{
margin-bottom:20px;
}






